.buttonTips .btn-primary {
  border-radius: 28px !important;
  border-color: #f5a624 !important;
  background-color: #f5a624 !important;
  color: white !important;
  padding-left: 28% !important;
  padding-right: 28% !important;
}
